<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>🤖 V2 Disponible !</title>
    </head>
    <body>
        V2 disponible. Redirection vers https://grandpy-remake.herokuapp.com... <br><br>
        Si la redirection n'a pas fonctionné, veuillez cliquer <a href="https://grandpy-remake.herokuapp.com">ici</a>.
        <script>
            setTimeout(() => window.location.href = "https://grandpy-remake.herokuapp.com", 2500)
        </script>
    </body>
</html>